<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassarelliOutBoundOrders.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MassarelliOutBoundOrders.My.MySettings.DATA_01ConnectionString"
            connectionString="Data Source=DELL850;Initial Catalog=DATA_01;Persist Security Info=True;User ID=sa;Password=SA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MassarelliOutBoundOrders.My.MySettings>
            <setting name="Company" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesAmt_Subtotal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Freight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesAmt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipViaDesc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Terms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PONumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToAddr1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToAddr2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToCity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToZip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToAddr1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToAddr2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToCity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToZip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Qty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Finish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnitPrice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtendedPrice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Discount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShippingInstruction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesPersonNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesPersonName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvoiceNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvoiceDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvoiceAmount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesRepGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDB" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="DefaultSERVER" serializeAs="String">
                <value>MASS-SQL1</value>
            </setting>
        </MassarelliOutBoundOrders.My.MySettings>
    </userSettings>
</configuration>
